body.logged-in.admin-bar #content {
    padding-top: 29px;
}

@include tablet {
    body.logged-in.admin-bar #top-menu {
        top: $admin-height-desktop;
    }
    body.logged-in.admin-bar #content {
        padding-top: $nav-height;
    }
    body.logged-in.admin-bar nav.top-menu-hidden#top-menu {
        top: $nav-height * -1;
    }
    body.logged-in.admin-bar .single-post-header,
    body.logged-in.admin-bar .post-carousel-image {
        height: calc(100vh - #{$nav-height} - #{$admin-height-desktop});
    }
}