.single-image-wrapper .single-post-shares {
    color: #333;
    bottom: auto;
    left: auto;
    position: relative;
    width: 100%;
}

.single-image-wrapper .single-post-shares h6 {
    text-shadow: none;
}

.single-image {
    max-width: 100%;
    height: auto;
}