@mixin tablet {
    @media (min-width: #{$screen-breakpoint-md}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-breakpoint-lg}) {
        @content;
    }
}

@mixin font-size-vw($size) {
    font-size: get-vw($size);
    @include desktop {
        font-size: $size;
    }
}

@mixin transition($property) {
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: #{$value};
    -moz-box-shadow: #{$value};
    box-shadow: #{$value};      
}

@mixin input-placeholder($selector) {
    #{$selector}::-webkit-input-placeholder {@content}
    #{$selector}:-moz-placeholder {@content}
    #{$selector}::-moz-placeholder {@content}
    #{$selector}:-ms-input-placeholder {@content}
    #{$selector}::-ms-input-placeholder {@content}
    #{$selector}::placeholder {@content}
}