@import url('https://fonts.googleapis.com/css?family=Montserrat');

.globetrotter-meta-box input {
    border-radius: 3px;
    padding: 6px 8px 6px 8px;
}
    
.globetrotter-meta-box input[type=number] {
    max-width: 114px;
    width: 100%;
}
    
.globetrotter-meta-box input::placeholder {
    font-style: italic;
}

.globetrotter-meta-box table {
    text-align: left;
}

.globetrotter-meta-box table th {
    width: 90px;
}

.globetrotter-meta-box table td {
    width: 340px;
}

#globetrotter-settings input::placeholder {
    font-style: italic;
}

span.algolia-places {
    width: 100%;
}

.ap-input,
.ap-hint {
    padding-left: 5px;
    height: 40px;
}

p.settings-alert {
    display: none;
    color: red;
}

p.settings-alert-displayed {
    display: block;
}

@include tablet {
    span.algolia-places {
        width: 352px;
    }
    
    .ap-input,
    .ap-hint {
        height: 30px;
    }
}